@inherits PlayerBase







@if (_stateContainerService.Players.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in _stateContainerService.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteSport('@player.PlayerId')">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Sports</p>
}