@inherits PlayerBase


@if (_stateContainerService.Players.Any())
{
    <h4 class="text-center">Players added</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in _stateContainerService.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>
                        <button class="btn btn-danger" @onclick="(() => HandleRemovePlayer(player.PlayerId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-center px-4">No players added</h4>
}